/**
 * Cristian Moreno <khriztianmoreno@gmail.com>
 * Custom gridSystem
 */

@import './utils/reset';
@import './utils/colors';
@import './utils/grid';
@import './utils/fonts';
@import './utils/table';
@import './utils/buttons';
@import './utils/form';
@import './utils/alert';

body {
  font-family: CircularStd;
  line-height: 170%;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

a {
  color: map-get($colors, 'green');
  text-decoration: underline;

  &:visited {
    color: map-get($colors, 'green');
  }
}

.page-header {
  background-color: #35495f;
  border-bottom: 5px solid map-get($colors, 'green');
  border-top: 5px solid map-get($colors, 'green');
  margin: 0 0 35px 0;
  min-height: 50px;
  padding: 20px 0;
  position: relative;
  text-align: left;
  h2 {
    border-bottom: 5px solid map-get($colors, 'green');
    color: map-get($colors, 'white');
    display: inline-block;
    font-weight: 200;
    margin: 0 0 -25px;
    min-height: 37px;
    font-size: 2.6em;
    line-height: 46px;
    padding: 0 0 17px;
    position: relative;
    span {
      color: map-get($colors, 'gray');;
      display: block;
      font-size: 0.6em;
      font-weight: 300;
      margin: -10px 0 0;
    }
  }
}
