@import './mixins';
@import './variables';

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &-done {
    color: map-get($colors, 'green');
    background-color: #d4edda;
    border-color: #c3e6cb;
    hr {
      border-top-color: #b1dfbb;
    }
    .alert-link {
      color: map-get($colors, 'black');
    }
  }
}
