@import './mixins';
@import './variables';

.btn {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1rem 0;
  margin-right: 1em;
  padding: 0.375rem 0.75rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  > .btn:last-child {
    margin-right: 0;
  }

  &-outline {
    background-color: transparent;
    border-color: map-get($colors, 'green');
    color: map-get($colors, 'green');
    &:hover {
      background-color: map-get($colors, 'green');
      border-color: map-get($colors, 'green');
      color: map-get($colors, 'white');
    }
    &:focus, &.focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
    }
  }
}



