@font-face {
  font-family: CircularStd;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-circular-book.eot"),
    url("/fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
    url("/fonts/lineto-circular-book.woff2") format("woff2"),
    url("/fonts/lineto-circular-book.woff") format("woff");
}

@font-face {
  font-family: EamesCenturyModern;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/EamesCenturyModern-Regular.woff') format('woff'),
    url('/fonts/EamesCenturyModern-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: Icomoon;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/icomoon.eot') format('eot'),
    url('/fonts/icomoon.woff') format('woff'),
}
