@import './mixins';
@import './variables';

form {
  margin: 2rem 0;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: map-get($colors, 'gray');
  background-color: map-get($colors, 'white');
  background-clip: padding-box;
  border: 1px solid map-get($colors, 'border');
  border-radius: 0.25rem;
  &:focus {
    color: map-get($colors, 'gray');
    background-color: map-get($colors, 'white');
    border-color: map-get($colors, 'green');
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 129, 179, 0.4);
  }
  &::placeholder {
    color: map-get($colors, 'gray');
    opacity: 1;
  }
  &:disabled, &[readonly] {
    background-color: map-get($colors, 'disabled');
    opacity: 1;
  }
}
