@import './variables';

@mixin col($colspan: 1) {
  flex-basis: (100% * $colspan) / 12;
  max-width: (100% * $colspan) / 12;
}

@mixin offset($cols: 0) {
  margin-left: (100% * $cols) / 12;
}

@mixin do-breakpoint($key) {
  @if map-get($breakpoints, $key) > 0 {
    @media only screen and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
  @if map-get($breakpoints, $key) == 0 {
    @content;
  }
}

@mixin make-responsive($property, $lower, $upper) {
  $bounds-difference: ($upper - $lower) / 3;
  $counter: 0;

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @include do-breakpoint($breakpoint-key) {
      #{$property}: round($lower + ($bounds-difference * $counter));
      $counter: $counter + 1;
    }
  }
}

@mixin font($size: 16px, $xsSize:false, $family: EamesCenturyModern, $style: normal, $height: 1,  $weight: normal, $color: map-get($colors, 'white')) {
  @if $xsSize { @include make-responsive(font-size, $xsSize, $size); }
  @else { font-size: $size; }

  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

// Transitions

@mixin scroll-animated() {
  &-animated {
    transition: opacity 1s, transform .5s ease-out;
    opacity: 0;
    transform: translateY(10%);

    &-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
