@import './mixins';
@import './variables';

.table {
  background-color: transparent;
  margin-bottom: 1rem;
  max-width: 100%;
  width: 100%;
  th, td {
    border-top: 1px solid map-get($colors, 'deep-sea-blue');
    padding: 0.75rem;
    vertical-align: top;
  }
  td.amount {
    font-family: monospace;
    text-align: right;

    &-low {
      color: map-get($colors, 'red');
    }

    &-high {
      color: map-get($colors, 'green');
    }
  }
  thead th {
    border-bottom: 2px solid map-get($colors, 'deep-sea-blue');
    vertical-align: bottom;
  }
  tbody + tbody {
    border-top: 2px solid map-get($colors, 'deep-sea-blue');
  }
  .table {
    background-color: map-get($colors, 'white');
  }
}

.table-bordered {
  border: 1px solid map-get($colors, 'deep-sea-blue');
  th, td {
    border: 1px solid map-get($colors, 'deep-sea-blue');
  }
  thead {
    th, td {
      border-bottom-width: 2px;
    }
  }
}

.table-borderless {
  th, td, thead th, tbody + tbody {
    border: 0;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 146, 203, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 129, 179, 0.4);
}
