// GRID SYSTEM VARIABLES
$breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px
);

$gutters: (
  xs: 30px,
  sm: 50px,
  md: 50px,
  lg: 50px
);

$colors: (
  'black': #000000,
  'red': #ff0000,
  'green': #3c8070,
  'white': #ffffff,
  'dark': #1b2428,
  'gray': #999da3,
  'ice-blue': #f9fdff,
  'deep-sea-blue': #025677,
  'dark-sky-blue': #37bdf2,
  'teal-blue': #0081b3,
  'cerulean': #0092cb,
  'lightblue': #82cef4,
  'burnt-orange': #cb3900,
  'transparent': transparent,
  'border': #ced4da,
  'disabled': #e9ecef
);


// MENU VARIABLES
$menu-height: (
  xs: 334px,
  sm: 400px
);
